DATABASE_URL=postgresql://tvc:tvc@localhost:5432/tvc

DISCORD_BOT_TOKEN="<BOT_TOKEN>"
DISCORD_GUILD_ID=
ANALYTICS_SALT=6a6b3f35829fb8ab3fadb59fce650b82143776c8d2f74a57fb57c8d562d27be9
DISCORD_CLIENT_ID="<CLIENT_ID>"
DISCORD_CLIENT_SECRET="<CLIENT_SECRET>"
AUTH_URL=http://localhost:3001
PORT=3001
DISCORD_ADMIN_IDS=

AUTH_SECRET="<RANDOM_HEX_32>"
